body {
    font-family: "Segoe UI";
    padding-top: 65px;
}

#nav {
    background-color: green;
    /* overflow: hidden; */
}

/* .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

#nav a:hover {
    background-color: white;
    color: green;
}

#nav a {
    color: white;
}